main {
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: white;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    a {
        color: blue;
    }
}